                        *{
                            margin: 0;
                            padding: 0;
                            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            box-sizing: border-box;
                        }
                        body{
                            background: #000000;
                            color: #fff;
                        }
                        .logo{
                            width: 30%;
                            height: 10vh;
                            align-content: flex-start;
                            cursor: default;
                        }
                        .container{
                            padding: 10px 10%;
                            /* position: sticky; */
                        }
                    
                        nav{
                            margin: 0%;
                            display: flex;
                            background-color: #000000;
                            background-size: 20px;
                            align-items: right;
                            padding: 1% 12%;
                            position: fixed;
                            justify-content: space-between;
                            flex-wrap: wrap;
                        }
                        nav ul li{
                            font-size: 30px;
                            padding-inline-end: 5px;
                            padding:10px 20px;
                            list-style: none;
                            display: inline;
                            margin: 40px 20px;
                        }

                        nav ul li a{
                            padding-inline-end: 10px;
                            padding: 12px 20px;
                            display: inline;
                            border-radius: 20px;
                            font-size: 20px;
                            color: #efeff0;
                            letter-spacing: 2px;
                            text-decoration: none;
                            font-weight: 300;
                        }

                        nav ul li a:hover{
                            background: rgba(233, 0, 0, 0.877);
                            color: #081b29;
                            box-shadow: 0 0 20px #ff0000;
                        }
                        #headertext{
                            margin-top: 10%;
                            font-size:40px;
                        }
                        #headertext h2{
                            margin-top: 15%;
                            font-size: 30px;
                            color: rgb(255, 255, 255);
                        }
                        #headertext h3{
                            font-size: 25px;
                            font-style: oblique;
                            color: rgb(235, 246, 246);
                            padding: 1.5%;
                            justify-content: baseline;
                            
                        }
                        #headertext h2 span{
                            font-size: 50px;
                            color: hsl(0, 89%, 36%);
                        }
                        #headertext h4{
                            font-size: 30px;
                        }
                        #headertext h4 span{
                            font-size: 30px;
                            color: hsl(0, 89%, 36%);
                        }

                        --------------about---------------

                        #about{
                            padding: 80px 0;
                            color: #fff;
                        }
                        .title1{
                            font-size: 60px;
                            font-weight: 600;
                            color: #fff;
                        }
                        #home-sci a{
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            width: 40px;
                            height: 40px;
                            background: transparent;
                            border: 2px solid aqua;
                            border-radius: 50%;
                            font-size: 20px;
                            color: aqua;
                            text-decoration: none;
                            margin: 30px 15px 30px 0;
                        }
                        #home-sci a:hover{
                            background: aqua;
                            color: #081b29;
                            box-shadow: 0 0 20px aqua;
                        }
                        .btn-box{
                            display: inline-block;
                            padding: 12px 20px;
                            background: aqua;
                            border-radius: 40px;
                            font-size: 16px;
                            color: #081b29;
                            letter-spacing: 1px;
                            text-decoration: none;
                            font-weight: 600;
                            
                        }
                        .btn-box:hover{
                            box-shadow: 0 0 5px cyan,0 0 25px cyan,0 0 50px cyan,0 0 100px cyan,0 0 200px cyan;
                        }



                        #About{
                            margin-top: 30%;
                        }
                        
                        .title1{
                            font-style: oblique;
                            font-size: 40px;
                        }
                        .title1 span{
                            font-size: 40px;
                            color: #ff0000;
                        }
                        .row h3{
                            font-size: 25px;
                            font-style: oblique;
                            justify-content: baseline;
                            padding: 2%;
                        }
                        .btn-box1{
                            display: inline-block;
                            padding: 12px 50px;
                            background: aqua;
                            border-radius: 40px;
                            font-size: 16px;
                            color: #081b29;
                            letter-spacing: 1px;
                            text-decoration: none;
                            font-weight: 600;
                            margin-left: 20px;
                            
                        }
                        .btn-box1:hover{
                            box-shadow: 0 0 5px cyan,0 0 25px cyan,0 0 50px cyan,0 0 100px cyan,0 0 200px cyan;
                        }

                        #skills{
                            margin-top: 70%;
                        }
                        .title3{
                            font-style: oblique;
                            text-align: center;
                            color:white;
                            padding: 1rem;
                            position: relative;

                        }
                        .title3::after{
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            transform: translate(-50%);
                            height: 4px;
                            width: 100px;
                            background-color: rgb(255, 255, 255);
                        }
                        .title3 span{
                            font-style: oblique;
                            color: #ff0000;
                        }
                        .container1{
                            display: grid;
                            grid-template-columns: repeat(3,1fr);
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            grid-gap:2rem;
                            padding: 1rem 80px;
                            font-size: 1.2rem;
                        }
                        .skill-box{
                        
                            color:darkgoldenrod;
                            cursor: pointer;
                        }
                        .skill-title{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            
                            
                        }
                        .img{
                            width: -10000rem;
                            height: -10000rem;
                            transition: transform 300ms;
                        }
                        .img:hover{
                            transform: translateY(-20px);
                            
                        }
                        .skill-title{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            padding: 0.5rem;
                            margin-bottom: 0.5rem;
                            position: relative;
                            
                        }
                        .skill-title h3:after{
                            background: none repeat scroll 0 0 transparent;
                            bottom: 0;
                            content: "";
                            display: block;
                            height: 2px;
                            left: 50%;
                            position: absolute;
                            background: #fff;
                            transition: width 0.3s ease 0s, left 0.3s ease 0s;
                            width: 0;
                        }
                       
                        .skill-title h3:hover:after{
                            width: 20%; 
                            left: 40%;
                        }






                        #work{
                            margin-top: 50%;
                        }
                        .title4{
                            font-size:30px;
                            text-align:center;
                        }
                        .img1{
                            margin-left: 30%;
                            transition: transform 300ms;
                        }
                        .img1:hover{
                            transform: translateY(-30px);
                        }
                        .container2{
                            display: grid;
                            grid-template-columns: repeat(3,1fr);
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            grid-gap:1rem;
                            padding: 2rem 100px;
                            font-size: 1.2rem;
                        }
                        


#work{
    margin-top: 5%;
}
.title4{
    margin-top: 40%;
}
 @import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.snip1107 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin-top: 30%;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  background: #000000;
  text-align: center;
}
figure.snip1107 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
figure.snip1107 img {
  opacity: 1;
  width: 100%;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
figure.snip1107 figcaption {
  position: absolute;
  bottom: 0;
  left: 18%;
  right: 18%;
  height: 100%;
}
figure.snip1107 figcaption > div {
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 50%;
}
figure.snip1107 h3,
figure.snip1107 span {
  margin: 0;
  padding: 10px 15px;
  display: inline-block;
  width: 100%;
  font-weight: 800;
  text-transform: uppercase;
}
figure.snip1107 span {
  background: #ffffff;
  color: #4d4d4d;
  position: relative;
  bottom: 0;
  left: 0;
  position: absolute;
  -webkit-transform: translate3d(0%, 100%, 0);
  transform: translate3d(0%, 100%, 0);
}
figure.snip1107 h3 {
  background: #333333;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
}
figure.snip1107 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #ffffff;
}
figure.snip1107.blue {
  background: #0a212f;
}
figure.snip1107.blue h3 {
  background: #2980b9;
}
figure.snip1107.red {
  background: #36100c;
}
figure.snip1107.red h3 {
  background: #c0392b;
}
figure.snip1107.yellow {
  background: #583804;
}
figure.snip1107.yellow h3 {
  background: #f39c12;
}
figure.snip1107.navy {
  background: #000000;
}
figure.snip1107.navy h3 {
  background: #34495e;
}
figure.snip1107:hover img,
figure.snip1107.hover img {
  opacity: 0.35;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
figure.snip1107:hover figcaption span,
figure.snip1107.hover figcaption span {
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
}
figure.snip1107:hover figcaption h3,
figure.snip1107.hover figcaption h3 {
  -webkit-transform: translate3d(0%, -100%, 0);
  transform: translate3d(0%, -100%, 0);
}


#contact{
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contact-left{
    margin-left: 0%;
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}
.contact-inputs1{
    width: 300px;
    height: 150px;
}
.contact-left-title h2{
    font-size: 40px;
    font-style: oblique;
    gap: 40px;
}
.contact-left-title h2 span{
   font-style: oblique;
   color: red;
}
.contact-inputs{
    width: 300px;
    border-radius: 5px;
}
.submitbtn{
    width: 80px;
    height: 40px;
    margin-left: 40%;
    font-size: 15px;
    color: #000000;
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
}
.submitbtn:hover{
    box-shadow: 0 0 5px rgb(255, 0, 0),0 0 25px rgb(255, 0, 0),0 0 50px rgb(255, 0, 0),0 0 50px rgb(255, 0, 0),0 0 100px rgb(255, 0, 0);
}
.title4 h3 span{
    font-style: oblique;
    color: red;
}
.title4 h3{
    font-style: oblique;
    text-align: center;
    color:white;
    padding: 1rem;
    text-decoration: underline;
    position: relative;
}